USE [master]
GO
/****** Object:  Database [KPI_Management]    Script Date: 8/26/2025 7:00:47 PM ******/
CREATE DATABASE [KPI_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KPI_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KPI_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KPI_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KPI_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KPI_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KPI_Management]
GO
/****** Object:  Table [dbo].[AssignedKpis]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignedKpis](
	[assigned_kpi_id] [int] IDENTITY(1,1) NOT NULL,
	[kpi_id] [int] NOT NULL,
	[period_id] [int] NOT NULL,
	[assignee_user_id] [int] NULL,
	[assignee_department_id] [int] NULL,
	[target_value] [float] NULL,
	[weight_percent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[assigned_kpi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](150) NOT NULL,
	[parent_department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluationAttachments]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluationAttachments](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[evaluation_id] [int] NOT NULL,
	[file_name] [varchar](255) NULL,
	[file_path] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluationPeriods]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluationPeriods](
	[period_id] [int] IDENTITY(1,1) NOT NULL,
	[period_name] [nvarchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[period_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalResults]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalResults](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[period_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[department_id] [int] NULL,
	[total_kpi_score] [float] NULL,
	[completion_level] [nvarchar](50) NULL,
	[final_rank] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KpiEvaluations]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KpiEvaluations](
	[evaluation_id] [int] IDENTITY(1,1) NOT NULL,
	[assigned_kpi_id] [int] NOT NULL,
	[self_assessed_score] [float] NULL,
	[self_comment] [text] NULL,
	[manager_assessed_score] [float] NULL,
	[manager_comment] [text] NULL,
	[final_score] [float] NULL,
	[status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[evaluation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kpis]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kpis](
	[kpi_id] [int] IDENTITY(1,1) NOT NULL,
	[kpi_name] [nvarchar](255) NOT NULL,
	[description] [text] NULL,
	[kpi_type] [varchar](20) NULL,
	[measurement_unit] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[kpi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/26/2025 7:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[department_id] [int] NULL,
	[job_title] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssignedKpis] ON 

INSERT [dbo].[AssignedKpis] ([assigned_kpi_id], [kpi_id], [period_id], [assignee_user_id], [assignee_department_id], [target_value], [weight_percent]) VALUES (1, 1, 1, NULL, 3, 1, 5)
INSERT [dbo].[AssignedKpis] ([assigned_kpi_id], [kpi_id], [period_id], [assignee_user_id], [assignee_department_id], [target_value], [weight_percent]) VALUES (2, 2, 1, NULL, 3, 0.9, 5)
INSERT [dbo].[AssignedKpis] ([assigned_kpi_id], [kpi_id], [period_id], [assignee_user_id], [assignee_department_id], [target_value], [weight_percent]) VALUES (3, 3, 1, NULL, 3, 0.8, 10)
SET IDENTITY_INSERT [dbo].[AssignedKpis] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([department_id], [department_name], [parent_department_id]) VALUES (1, N'Trường Đại Học Xây Dựng Hà Nội', NULL)
INSERT [dbo].[Departments] ([department_id], [department_name], [parent_department_id]) VALUES (2, N'Phòng Tổ chức Can Bộ', 1)
INSERT [dbo].[Departments] ([department_id], [department_name], [parent_department_id]) VALUES (3, N'Khoa Đào tạo', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[EvaluationAttachments] ON 

INSERT [dbo].[EvaluationAttachments] ([attachment_id], [evaluation_id], [file_name], [file_path]) VALUES (1, 1, N'BaoCaoGiangDay.pdf', N'/attachments/BaoCaoGiangDay.pdf')
INSERT [dbo].[EvaluationAttachments] ([attachment_id], [evaluation_id], [file_name], [file_path]) VALUES (2, 4, N'BaoCaoKhoa.pdf', N'/attachments/BaoCaoKhoa.pdf')
SET IDENTITY_INSERT [dbo].[EvaluationAttachments] OFF
GO
SET IDENTITY_INSERT [dbo].[EvaluationPeriods] ON 

INSERT [dbo].[EvaluationPeriods] ([period_id], [period_name], [start_date], [end_date]) VALUES (1, N'Năm học 2024-2025', CAST(N'2024-09-01' AS Date), CAST(N'2025-08-31' AS Date))
INSERT [dbo].[EvaluationPeriods] ([period_id], [period_name], [start_date], [end_date]) VALUES (2, N'Kỳ 1 năm 2025', CAST(N'2025-01-01' AS Date), CAST(N'2025-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[EvaluationPeriods] OFF
GO
SET IDENTITY_INSERT [dbo].[FinalResults] ON 

INSERT [dbo].[FinalResults] ([result_id], [period_id], [user_id], [department_id], [total_kpi_score], [completion_level], [final_rank]) VALUES (1, 1, 5, NULL, 0.95, N'Hoàn thành tốt', N'A')
INSERT [dbo].[FinalResults] ([result_id], [period_id], [user_id], [department_id], [total_kpi_score], [completion_level], [final_rank]) VALUES (2, 1, NULL, 3, 0.92, N'Hoàn thành', N'B')
INSERT [dbo].[FinalResults] ([result_id], [period_id], [user_id], [department_id], [total_kpi_score], [completion_level], [final_rank]) VALUES (3, 1, 6, NULL, 0.88, N'Hoàn thành', N'B')
SET IDENTITY_INSERT [dbo].[FinalResults] OFF
GO
SET IDENTITY_INSERT [dbo].[KpiEvaluations] ON 

INSERT [dbo].[KpiEvaluations] ([evaluation_id], [assigned_kpi_id], [self_assessed_score], [self_comment], [manager_assessed_score], [manager_comment], [final_score], [status]) VALUES (1, 4, 0.95, N'Tu đánh giá hoàn thành 95% giang day', 1, N'Manager xác nhan hoàn thành ', 0.975, N'Approved')
INSERT [dbo].[KpiEvaluations] ([evaluation_id], [assigned_kpi_id], [self_assessed_score], [self_comment], [manager_assessed_score], [manager_comment], [final_score], [status]) VALUES (2, 5, 0.25, N'Trưot môn 25%', NULL, NULL, NULL, N'Pending')
INSERT [dbo].[KpiEvaluations] ([evaluation_id], [assigned_kpi_id], [self_assessed_score], [self_comment], [manager_assessed_score], [manager_comment], [final_score], [status]) VALUES (3, 8, 0.85, N'Phoi hop tot', 0.9, N'Hài long', 0.875, N'Approved')
SET IDENTITY_INSERT [dbo].[KpiEvaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[Kpis] ON 

INSERT [dbo].[Kpis] ([kpi_id], [kpi_name], [description], [kpi_type], [measurement_unit]) VALUES (1, N'Hoàn thành các báo cáo, kê khai, đánh giá viên chức định kỳ và đột xuất', N'Hoàn thành đúng han và chat lưong theo yêu cau cua nhà trương', N'Chuc năng', N'Ty le')
INSERT [dbo].[Kpis] ([kpi_id], [kpi_name], [description], [kpi_type], [measurement_unit]) VALUES (2, N'Tham gia đầy đủ các cuộc họp định kỳ và đột xuất', N'Đat muc tham gia ít nhât 90%', N'Chuc năng', N'Ty le')
INSERT [dbo].[Kpis] ([kpi_id], [kpi_name], [description], [kpi_type], [measurement_unit]) VALUES (3, N'Đạt mức độ hài lòng của Trưởng đơn vị đối với khối lượng, tiến độ và chất lượng', N'Đánh giá hài long tu 80% trơ lên', N'Muc tieu', N'Ty le')
SET IDENTITY_INSERT [dbo].[Kpis] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (6, N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (5, N'Chuyên viên/Nhân viên')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (4, N'Giang viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[UserRoles] ([user_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password_hash], [full_name], [email], [department_id], [job_title]) VALUES (1, N'hieutruong', N'hash_password1', N'Hoàng Tùng', N'hieutruong@dhxdhn.edu.vn', 1, N'Hiệu trưởng')
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [full_name], [email], [department_id], [job_title]) VALUES (2, N'phohieutruong', N'hash_password2', N'Phó Hiệu trưởng', N'phohieutruong@dhxdhn.edu.vn', 1, N'Phó Hiệu trưởng')
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [full_name], [email], [department_id], [job_title]) VALUES (3, N'truongphongtccb', N'hash_password3', N'Trưởng phòng TCCB', N'tccb@dhxdhn.edu.vn', 2, N'Trưởng phòng')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B198A99980]    Script Date: 8/26/2025 7:00:47 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616491E47928]    Script Date: 8/26/2025 7:00:47 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5721F7CB4DB]    Script Date: 8/26/2025 7:00:47 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignedKpis]  WITH CHECK ADD  CONSTRAINT [FK_AssignedKpis_Department] FOREIGN KEY([assignee_department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[AssignedKpis] CHECK CONSTRAINT [FK_AssignedKpis_Department]
GO
ALTER TABLE [dbo].[AssignedKpis]  WITH CHECK ADD  CONSTRAINT [FK_AssignedKpis_Kpi] FOREIGN KEY([kpi_id])
REFERENCES [dbo].[Kpis] ([kpi_id])
GO
ALTER TABLE [dbo].[AssignedKpis] CHECK CONSTRAINT [FK_AssignedKpis_Kpi]
GO
ALTER TABLE [dbo].[AssignedKpis]  WITH CHECK ADD  CONSTRAINT [FK_AssignedKpis_Period] FOREIGN KEY([period_id])
REFERENCES [dbo].[EvaluationPeriods] ([period_id])
GO
ALTER TABLE [dbo].[AssignedKpis] CHECK CONSTRAINT [FK_AssignedKpis_Period]
GO
ALTER TABLE [dbo].[AssignedKpis]  WITH CHECK ADD  CONSTRAINT [FK_AssignedKpis_User] FOREIGN KEY([assignee_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[AssignedKpis] CHECK CONSTRAINT [FK_AssignedKpis_User]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Parent] FOREIGN KEY([parent_department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Parent]
GO
ALTER TABLE [dbo].[EvaluationAttachments]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Eval] FOREIGN KEY([evaluation_id])
REFERENCES [dbo].[KpiEvaluations] ([evaluation_id])
GO
ALTER TABLE [dbo].[EvaluationAttachments] CHECK CONSTRAINT [FK_Attachments_Eval]
GO
ALTER TABLE [dbo].[FinalResults]  WITH CHECK ADD  CONSTRAINT [FK_FinalResults_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[FinalResults] CHECK CONSTRAINT [FK_FinalResults_Department]
GO
ALTER TABLE [dbo].[FinalResults]  WITH CHECK ADD  CONSTRAINT [FK_FinalResults_Period] FOREIGN KEY([period_id])
REFERENCES [dbo].[EvaluationPeriods] ([period_id])
GO
ALTER TABLE [dbo].[FinalResults] CHECK CONSTRAINT [FK_FinalResults_Period]
GO
ALTER TABLE [dbo].[FinalResults]  WITH CHECK ADD  CONSTRAINT [FK_FinalResults_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FinalResults] CHECK CONSTRAINT [FK_FinalResults_User]
GO
ALTER TABLE [dbo].[KpiEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_KpiEvaluations_Assigned] FOREIGN KEY([assigned_kpi_id])
REFERENCES [dbo].[AssignedKpis] ([assigned_kpi_id])
GO
ALTER TABLE [dbo].[KpiEvaluations] CHECK CONSTRAINT [FK_KpiEvaluations_Assigned]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Department]
GO
USE [master]
GO
